In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'D:\Srishti\Stats\Naive_Bayes.csv')
df.columns =['Outlook', 'Temperature','Humidity','Windy','Play','extra']
df =df.drop(['extra'],axis =1)
df

     Outlook Temperature Humidity  Windy Play
0      Rainy         Hot     High  False   No
1      Rainy         Hot     High   True   No
2   Overcast         Hot     High  False  Yes
3      Sunny        Mild     High  False  Yes
4      Sunny        Cool   Normal  False  Yes
5      Sunny        Cool   Normal   True   No
6   Overcast        Cool   Normal   True  Yes
7      Rainy        Mild     High  False   No
8      Rainy        Cool   Normal  False  Yes
9      Sunny        Mild   Normal  False  Yes
10     Rainy        Mild   Normal   True  Yes
11  Overcast        Mild     High   True  Yes
12  Overcast         Hot   Normal  False  Yes
13     Sunny        Mild     High   True   No

In [7]:
df.loc[(df['Outlook']=='Sunny') & (df['Play']=='Yes'), 'Play'].count()

3

In [13]:
def getLiklihoodCount(feature, value,class_):
    return df.loc[(df[feature]==value) & (df['Play']==class_), 'Play'].count()

In [14]:
getLiklihoodCount('Windy', True, 'No')

3

In [15]:
def getClassCount(feature, value):
    return df.loc[(df[feature]==value), 'Play'].count()

In [18]:
getClassCount('Play', 'No')

5

In [32]:
df[df.columns[:-1]].unique()

     Outlook Temperature Humidity  Windy
0      Rainy         Hot     High  False
1      Rainy         Hot     High   True
2   Overcast         Hot     High  False
3      Sunny        Mild     High  False
4      Sunny        Cool   Normal  False
5      Sunny        Cool   Normal   True
6   Overcast        Cool   Normal   True
7      Rainy        Mild     High  False
8      Rainy        Cool   Normal  False
9      Sunny        Mild   Normal  False
10     Rainy        Mild   Normal   True
11  Overcast        Mild     High   True
12  Overcast         Hot   Normal  False
13     Sunny        Mild     High   True

In [22]:
df.columns[:-1]

Index(['Outlook', 'Temperature', 'Humidity', 'Windy'], dtype='object')

In [28]:
df.columns.values

array(['Outlook', 'Temperature', 'Humidity', 'Windy', 'Play'],
      dtype=object)

In [29]:
df['Outlook'].unique()

array(['Rainy', 'Overcast', 'Sunny'], dtype=object)

In [41]:
colvalue =[]
for colname in df.columns[:-1]:
    for colval in np.unique(df[colname]):
        colvalue.append([colname,colval])

In [45]:
df_counts= pd.DataFrame(colvalue,columns=['feature','value'])
df_counts

       feature     value
0      Outlook  Overcast
1      Outlook     Rainy
2      Outlook     Sunny
3  Temperature      Cool
4  Temperature       Hot
5  Temperature      Mild
6     Humidity      High
7     Humidity    Normal
8        Windy     False
9        Windy      True

In [52]:
df_counts['PlayYes']=df_counts.apply(lambda row: getLiklihoodCount(row['feature'], row['value'], 'Yes'),axis=1)
df_counts['PlayNo']=df_counts.apply(lambda row: getLiklihoodCount(row['feature'], row['value'], 'No'),axis=1)
df_counts

       feature     value  PlayYes  PlayNo
0      Outlook  Overcast        4       0
1      Outlook     Rainy        2       3
2      Outlook     Sunny        3       2
3  Temperature      Cool        3       1
4  Temperature       Hot        2       2
5  Temperature      Mild        4       2
6     Humidity      High        3       4
7     Humidity    Normal        6       1
8        Windy     False        6       2
9        Windy      True        3       3

In [78]:
def getProb(weather,class_):
    colName = 'Play'+class_
    prd=[]
    for k,v in weather.items():
        prd.append(df_counts.loc[(df_counts['feature'] == k) & (df_counts['value'] == v), colName].values[0]/ getClassCount('Play',class_))
    prd.append(getClassCount('Play', class_)/len(df))    
    return np.product(prd)

In [93]:
weather={'Outlook':'Overcast', 'Temperature':'Hot', 'Humidity':'Normal', 'Windy':True}

In [94]:
def getResult(weather):
    return np.where(getProb(weather,'Yes') >getProb(weather,'No'),'Play','No Play').tolist()

In [95]:
getResult(weather)

'Play'